<div class="row main-header">
	<%= image_tag("header-bg.png") %>
</div><!-- main-header -->

<div class="row video_column">
	<div class="large-4 columns has-border">
		<%= image_tag("video_placeholder.png", class: "video") %>
		<h3 class="video-header">Video 1</h3>
		<p class="vid-desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit.</p>
	</div>

	<div class="large-4 columns has-border">
		<%= image_tag("video_placeholder.png", class: "video") %>
		<h3 class="video-header">Video 2</h3>
		<p class="vid-desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit.</p>
	</div>

	<div class="large-4 columns">
		<%= image_tag("video_placeholder.png", class: "video") %>
		<h3 class="video-header">Video 3</h3>
		<p class="vid-desc">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit.</p>
	</div>
</div>

<div class="row ribbon-row">
	<div class="large-4 columns center">
		<%= image_tag("care-advocates.png") %>
	</div>

	<div class="large-7 columns center care-border">
		<h2 class="care-advocate">call your care advocate</h2>
		<p class="ribbon-text">This helpful resource provides a confidential review of your healthcare options, and is an ongoing source of information and support as we manage healthcare changes the way we manage everything we do – Together Strong.</p>
		<%= image_tag("phone-number.png", class: "phone-number") %>
	</div>
</div>

